<div *ngIf="actores; then thenBlock"></div>
<ng-template #thenBlock>
    <table class="table table-striped">
        <thead>
            <tr class="text-center align-middle">
                <th scope="col">Actores</th>
            </tr>
        </thead>
        <tbody style="cursor: pointer;">
            <tr *ngFor="let actor of actores;" class="text-center" style="vertical-align: middle;">
                <td class="d-flex" (click)="seleccionar(actor)">
                    <p class="mb-0">{{ actor.nombre + ", de " + actor.pais }}</p>
                </td>   
            </tr>
        </tbody>
    </table>
</ng-template>