<div *ngIf="paises; then thenBlock"></div>
<ng-template #thenBlock>
    <table class="table table-striped">
        <thead>
            <tr class="text-center align-middle">
                <th scope="col">Paises</th>
            </tr>
        </thead>
        <tbody style="cursor: pointer;">
            <tr *ngFor="let pais of paises;" class="text-center" style="vertical-align: middle;">
                <td class="d-flex" (click)="seleccionar(pais)">
                    <img class="cover me-3" style="height: 25px;" src={{pais.flags.png}} alt="">
                    <p class="mb-0">{{pais.name.common }}</p>
                </td>   
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="anterior()">&lt;</button>
        <button (click)="proxima()" style="float: right;">&gt;</button>
    </div>
</ng-template>